<html>
  <head>
    <title>{{ username }} Veure Qualificacions</title>
  </head>
  <body>
    <h1> Qualificacions i Comentaris dels usuaris</h1>
    {% if reserves %}
    <ul>
    {% for reserva in reserves %}
    {% if reserva.confirmada == True %}
    <li>
    {{reserva.habitacio.hostal.nom}} - {{reserva.habitacio.numero_habitacio}}
    <br>
    {% if reserva.qualificacio != 6 %}
    Confirmada - {{reserva.qualificacio}}/5
    {% else %}
    Confirmada - Sense Qualificar
    {% endif %}
    {% if reserva.comentari_qualificacio != "" %}
     - {{reserva.comentari_qualificacio}}
    {% else %}
     - Sense Comentari
    {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    </ul>
    <a href="/"> tornar </a>
    {% else %}
    <p>No ha realitzat cap reserva.</p>
    <a href="/"> tornar </a>
    {% endif %}
  </body>
</html>
